<ion-header>

    <ion-navbar>
        <ion-title>Usuarios Guest</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="fondo_admin">
    <div class="fondo">
        <ion-segment selectedIndex="1" [(ngModel)]="user">
            <ion-segment-button value="administrador">
                <h5>Administradores</h5>
            </ion-segment-button>
            <ion-segment-button value="empleado">
                <h5>Empleados</h5>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="user">
        <div *ngFor="let admin of admins | async">
            <ion-list class="list_blanco_transp" *ngSwitchCase="'empleado'">
                <ion-item *ngIf="admin.type == 'e' " (click)="selectUsuario(admin.uid)">
                    <ion-thumbnail item-start>
                        <img src="../assets/imgs/icons/profile.png">
                    </ion-thumbnail>
                    <h6>
                        Nombre
                        <p class="p">{{ admin.displayName }}</p>
                    </h6>

                    <h6>
                        ID
                        <p class="p">{{ admin.uid }}</p>
                    </h6>
                </ion-item>
            </ion-list>
        </div>
        <div *ngFor="let admin of admins | async">
            <ion-list class="list_blanco_transp" *ngSwitchCase="'administrador'">
                <ion-item *ngIf="admin.type == 'a' " (click)="selectUsuario(admin.uid)">
                    <ion-thumbnail item-start>
                        <img class="border" src="../assets/imgs/icons/profile.png">
                    </ion-thumbnail>
                    <h6>
                        Nombre
                        <p class="p">{{ admin.displayName }}</p>
                    </h6>

                    <h6>
                        ID
                        <p class="p">{{ admin.uid }}</p>
                    </h6>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ion-fab left bottom>
        <button ion-fab color="light"><ion-icon name="contacts"></ion-icon></button>
        <ion-fab-list side="right">
            <button ion-fab (click)="mostrar_modal()">
              <ion-icon name="md-person-add"></ion-icon>
              </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>