// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, gold: #eccc68);
.home {
    height: 25px;
    width: 25px;
}

//Cabecera
ion-navbar {
    .toolbar-background {
        background: #000;
    }
    .toolbar-title {
        text-align: justify;
        color: #fff;
        font: bold;
        font-weight: 200;
    }
}

//Termina cabeca.
//Tabs
.tabs-md .tab-button[aria-selected=true] {
    color: #0000;
    /*your  text color */
    background: #000;
    /* your background color*/
}

//admin-home
.fondo_admin {
    background-image: url('../assets/imgs/fondoadmin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    border: none;
}

.fondo2 {
    background-image: url('../assets/imgs/fondoblanco2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
    border: none;
}

//termina tabs
ion-menu {
    .menu-content {
        background-color: #000;
    }
    .menu-list {
        margin: 10vh 0px 0px !important;
        .item {
            background-color: #000;
            padding-right: 32px;
            &:first-child {
                border: #fff;
            }
            .item-inner {
                font-size: 1.5rem;
                font-weight: 300;
                letter-spacing: 1px;
                color: #fff;
                position: center;
            }
            .item-icon {
                color: #fff;
                font-size: 3.4rem;
            }
            &.activated {
                background-color: #fff;
                transition-duration: 0ms;
                .item-inner {
                    color: #fff;
                }
                .item-icon {
                    color: #fff;
                }
            }
        }
    }
}

.warning {
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";