page-admin-user-detail {
    ion-content {
        background-image: url('../assets/imgs/fondoblanco2.png');
        background-repeat: no-repeat;
        background-size: cover;
        //background-position: center;
        width: 100%;
        position: relative;
        border: none;
    }
    ion-list .item {
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
        color: #ffffff;
    }
    .blanco {
        font-size: 16px;
        resize: none;
        color: #ffffff;
        font: bold;
        font-weight: 900;
    }
    .margen {
        height: 250px;
        width: 120px;
    }
    .margen_2 {
        margin-top: 0px;
    }
    .margen3 {
        margin-left: 20px;
    }
    .imagen_perfil {
        height: 200px;
        width: 200px;
        margin-top: -3px;
        margin-bottom: -3px;
        border-radius: 250px;
    }
    h4 {
        color: #eccc68;
    }
    .icon {
        height: 25px;
        width: 25px;
    }
    .cate {
        height: 260px;
        width: 302px;
    }
    .filt {
        text-align: center;
        margin-bottom: -7.5em;
        margin-top: -5.5em;
    }
    .fon {
        background-color: #4cd137;
        color: white;
    }
    .fon2 {
        background-color: #ff3838;
        color: white;
    }
}